<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ site.description }} - {{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/plain" rel="author" href="/humans.txt" />
    <!-- build:css(app) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/_bower_components/ekko-lightbox/dist/ekko-lightbox.min.css" />
    <link rel="stylesheet" href="/css/shared/syntax.css" />
    <link rel="stylesheet" href="/css/shared/main.css" />
    <link rel="stylesheet" href="/css/index/index.css" />
    <link rel="stylesheet" href="/css/about/about.css" />
    <!-- endbuild -->
    {{ page.styles }}
    <script data-main="/js/shared/main" src="/_bower_components/requirejs/require.js"></script>
    {{ page.scripts }}
    <!--
      Nice that someone is reading the markup. If you would like to hire me, or you need people for
      any cool project. Please don't hesitate to contact me. To get my e-mail address, please open 
      JavaScript console and run function getDetails();

      Best regards
    -->
  </head>
  <body>
  <div class="ribbon-left">Currently in<br/><b>Yeosu, South Korea</b></div>
    {{ content }}
    {% include footer.html %}

    {% if site.mode != 'development' %}
      {% include googleanalytics.html %}
    {% endif %}
  </body>
</html>
