/* line 19, ../sass/_base.scss */
.highlightColor {
  color: #17AEBF;
}

/* line 23, ../sass/_base.scss */
a.highlightColor {
  color: #17AEBF;
  text-decoration: none;
  color: #17AEBF;
}
/* line 4, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_hover-link.scss */
a.highlightColor:hover, a.highlightColor:focus {
  text-decoration: underline;
}
/* line 18, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
a.highlightColor:visited {
  color: #17AEBF;
}
/* line 21, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
a.highlightColor:focus {
  color: #17AEBF;
}
/* line 24, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
a.highlightColor:hover {
  color: #17AEBF;
}
/* line 27, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
a.highlightColor:active {
  color: #17AEBF;
}

/* line 27, ../sass/_base.scss */
table.highlighttable {
  overflow-x: auto;
  display: block;
}

/* line 32, ../sass/_base.scss */
table.highlighttable td.code {
  width: 100%;
}

/* line 36, ../sass/_base.scss */
table.highlighttable pre {
  border-radius: inherit;
  border: inherit;
  padding-bottom: 0px;
}

/* line 42, ../sass/_base.scss */
table.highlighttable {
  border-radius: 3px;
  border: 1px solid #ccc;
}

/* line 47, ../sass/_base.scss */
table.highlighttable .linenos {
  border-right: 1px solid #ccc;
  background-color: gainsboro;
}

/* line 52, ../sass/_base.scss */
table.highlighttable .code {
  background-color: whitesmoke;
}

/* line 56, ../sass/_base.scss */
table.highlighttable .linenos pre {
  background-color: gainsboro;
}

/* line 60, ../sass/_base.scss */
table.highlighttable pre code {
  white-space: pre;
}

/* line 64, ../sass/_base.scss */
table.highlighttable {
  margin-bottom: 9px;
}

/* line 3, ../sass/index-posts.scss */
.day {
  color: #17AEBF;
  font-size: 3.5em;
  display: block;
  font-weight: 800;
  padding-top: 25px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: center;
  line-height: 42px;
}

/* line 15, ../sass/index-posts.scss */
.month-year {
  color: #333333;
  font-size: 1em;
  display: block;
  font-weight: 500;
  text-align: center;
}

/* line 23, ../sass/index-posts.scss */
.post-title {
  font-size: 2.5em;
  font-weight: 800;
  color: #333333;
}
@media (max-width: 600px) {
  /* line 23, ../sass/index-posts.scss */
  .post-title {
    text-align: center;
  }
}

/* line 32, ../sass/index-posts.scss */
.post {
  border-bottom: 1px solid #d9d9d9;
  margin-top: 10px;
  padding-bottom: 20px;
}

/* line 38, ../sass/index-posts.scss */
.post-tags {
  border: 1px solid #333333;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 5px;
}

/* line 47, ../sass/index-posts.scss */
.post-list {
  margin-bottom: 20px;
}

/* line 51, ../sass/index-posts.scss */
.pager {
  text-align: center;
}
