/* line 26, ../../sass/shared/_base.scss */
.accent {
  color: #ff346f;
}

/* line 30, ../../sass/shared/_base.scss */
.highlightColor {
  color: #384759;
}

/* line 34, ../../sass/shared/_base.scss */
a.highlightColor {
  color: #384759;
  text-decoration: none;
  color: #384759;
}
/* line 4, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_hover-link.scss */
a.highlightColor:hover, a.highlightColor:focus {
  text-decoration: underline;
}
/* line 18, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a.highlightColor:visited {
  color: #384759;
}
/* line 21, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a.highlightColor:focus {
  color: #384759;
}
/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a.highlightColor:hover {
  color: #384759;
}
/* line 27, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a.highlightColor:active {
  color: #384759;
}

/* line 38, ../../sass/shared/_base.scss */
table.highlighttable {
  overflow-x: auto;
  display: block;
}

/* line 43, ../../sass/shared/_base.scss */
table.highlighttable td.code {
  width: 100%;
}

/* line 47, ../../sass/shared/_base.scss */
table.highlighttable pre {
  border-radius: inherit;
  border: inherit;
  padding-bottom: 0px;
}

/* line 53, ../../sass/shared/_base.scss */
table.highlighttable {
  border-radius: 3px;
  border: 1px solid #ccc;
}

/* line 58, ../../sass/shared/_base.scss */
table.highlighttable .linenos {
  border-right: 1px solid #ccc;
  background-color: gainsboro;
}

/* line 63, ../../sass/shared/_base.scss */
table.highlighttable .code {
  background-color: whitesmoke;
}

/* line 67, ../../sass/shared/_base.scss */
table.highlighttable .linenos pre {
  background-color: gainsboro;
}

/* line 71, ../../sass/shared/_base.scss */
table.highlighttable pre code {
  white-space: pre;
}

/* line 75, ../../sass/shared/_base.scss */
table.highlighttable {
  margin-bottom: 9px;
}

/* line 3, ../../sass/index/index-main.scss */
.main-image {
  display: block;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTBhMGEiIHN0b3Atb3BhY2l0eT0iMC4zIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url(/img/background.jpg);
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.6), rgba(10, 10, 10, 0.3) 700px), url(/img/background.jpg);
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.6), rgba(10, 10, 10, 0.3) 700px), url(/img/background.jpg);
  background: radial-gradient(rgba(0, 0, 0, 0.6), rgba(10, 10, 10, 0.3) 700px), url(/img/background.jpg);
  background-size: cover;
}

/* line 11, ../../sass/index/index-main.scss */
.scroll-down {
  font-size: 40px;
  color: white;
  text-align: center;
  width: 100%;
  margin: auto;
  display: block;
  position: absolute;
  bottom: 5px;
  cursor: pointer;
}
@media (min-width: 690px) {
  /* line 11, ../../sass/index/index-main.scss */
  .scroll-down {
    bottom: 30px;
  }
}

/* line 26, ../../sass/index/index-main.scss */
.main-image-content {
  height: 100%;
  position: relative;
}

/* line 31, ../../sass/index/index-main.scss */
.content {
  min-height: 100%;
}

/* line 35, ../../sass/index/index-main.scss */
.page-content {
  min-height: 100%;
  min-width: 200px;
  margin-bottom: -8em;
  padding-bottom: 8em;
}
