@import "_base";

nav.top {
    color: $menuColor;
}

nav.top .navbar {
    @media(min-width: 950px) {
        float: right;
    }
}

nav.top ul.navbar {
    @media (max-width: $small){
        display: none;
    }
    @media (min-width: $small){
        display: block;
    }
    margin-bottom: 0px;
    padding-left: 1px;
    min-height: 45px;
}

nav.top .navbar li {
    @media (min-width: $small) {
        display: inline-block;
    }
    @media (max-width: $small) {
        text-align: center;
    }
    margin-top: 10px;
    display: block;
    font-size: 1.3em;
}

nav.top .navbar a {
    @media (min-width: $small) {
        padding-left: 35px;
        color: $menuColor;
    }
}

nav.top .navbar a:hover {
    text-decoration: underline;
}

nav.top {
    background-color: $highlighColor;
    border-bottom: 1px solid $separatorColor;
}

.menu-mobile-toggle {
    text-align: right;
    padding-right: 10px;
    @media (min-width: $small){
        display: none;
    }
}

.menu-mobile-toggle a {
    font-size: 2.5em;
}

.menu-mobile-toggle .menu-mobile-close {
    display: none;
}

#menu-mobile-open:target.top .menu-mobile-open {
    display: none;
}

#menu-mobile-open:target.top .menu-mobile-close {
    display: inline;
}

#menu-mobile-open:target.top ul.navbar{
    @media (max-width: $small){
        display: block;
    }
}

#nav-wrapper {
    margin: auto;
}

#site-name {
    a{
        color: white;
        text-decoration: none;
    }

    margin: auto;
    text-align: center;
}

#nav-menu-wrapper {
    margin: auto;
    clear: both;

    max-width: 1400px;

    @media (min-width: 1051px) and (min-width: $small){
        padding-left: 120px;
        padding-right: 110px;
    }

    @media (max-width: 1050px) and (min-width: $small) {
        width:600px;
    }
}

#site-name {
    @media (max-width: 1050px){
        display: none;
    }
 
    float: left;
    font-size: 2em;
    font-style: italic;
    font-size: 1.8em;
    padding-top: 5px;
}
