<nav class="top" id="menu-mobile-open" >
    <div class="menu-mobile-toggle">
        <a href="#menu-mobile-open" class="menu-mobile-open"><span><i class="fa fa-bars"></i></span></a>
        <a id="menu-mobile-close" href="#menu-mobile-close" class="menu-mobile-close"><span><i class="fa fa-times"></i></span></a>
    </div>
    <ul class="navbar">
        <li><a href="{{site.url}}">Home</a></li>
        <li><a href="{{site.url}}/about/">About</a></li>
        <li><a href="/feed.xml">Feed</a></li>
    </ul>
    <div class="clearfix"></div>
</nav>