<nav class="top" id="menu-mobile-open" >
    <div id="nav-wrapper">
        <div id="site-name">
            Developer Abroad
        </div>
        <div class="menu-mobile-toggle">
            <a href="#menu-mobile-open" class="menu-mobile-open"><span><i class="fa fa-bars"></i></span></a>
            <a id="menu-mobile-close" href="#menu-mobile-close" class="menu-mobile-close"><span><i class="fa fa-times"></i></span></a>
        </div>
        <div id="nav-menu-wrapper">
            <ul class="navbar">
                <li><a href="{{site.url}}">HOME</a></li>
                <li><a href="{{site.url}}">COUNTRIES</a></li>
                <li><a href="{{site.url}}/about/">ABOUT ME</a></li>
                <li><a href="/feed.xml">NEWS FEED</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</nav>
