@import "compass";

$small: 600px;
$largeAuthorImage: 800px;
$mainColorDark: #333333;
$highlighColor: #17AEBF;
$separatorColor: rgb(217, 217, 217);
$mediumThick: 500;
$thick: 800;

@mixin highlight-color {
	color: $highlighColor;
    @include hover-link();
    @include link-colors($highlighColor, $highlighColor, $highlighColor, $highlighColor, $highlighColor);
}

.highlightColor {
	color: $highlighColor;
}

a.highlightColor {
	@include highlight-color;
}