@import "compass";

$small: 600px;
$largeAuthorImage: 800px;
$mainColorDark: #111111;
$menuColor: white;
$footerColor: white;
$highlighColor: shade(#50667f, 30);
$separatorColor: rgb(217, 217, 217);
$codeHighlightColor: rgb(220, 220, 220);
$codeHighlightColorBackground: rgb(245, 245, 245);
$mediumThick: 500;
$thick: 800;

@mixin highlight-color {
	color: $highlighColor;
    @include hover-link();
    @include link-colors($highlighColor, $highlighColor, $highlighColor, $highlighColor, $highlighColor);
}

.highlightColor {
    color: $highlighColor;
}

a.highlightColor {
    @include highlight-color;
}

table.highlighttable {
    overflow-x:auto;
    display:block;
}

table.highlighttable td.code {
    width:100%;
}

table.highlighttable pre {
    border-radius: inherit;
    border: inherit;
    padding-bottom: 0px;
}

table.highlighttable {
    border-radius: 3px;
    border: 1px solid #ccc;
}

table.highlighttable .linenos {
    border-right: 1px solid #ccc;
    background-color: $codeHighlightColor;
}

table.highlighttable .code {
    background-color: $codeHighlightColorBackground;
}

table.highlighttable .linenos pre {
    background-color: $codeHighlightColor;
}

table.highlighttable pre code {
    white-space: pre;
}

table.highlighttable {
    margin-bottom: 9px;
}
