$icon-font-path: "../_bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import '../_bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'main-navbar';
@import 'main-footer';

html, body {
    height: 100%;
    font-size: 14px;
    color: $mainColorDark;
}

a, a:hover, a:focus {
    color: $mainColorDark;
}

.ekko-lightbox {
    padding: 0px!important;
}
