@import "_base";

.footer {
    color: $footerColor;
    min-height: 8em;
    padding: 15px;
    background-color: $highlighColor;
}

.footer a {
    @include link-colors($footerColor, $footerColor, $footerColor, $footerColor, $footerColor);
}

.footer .copyright {
    margin: auto;
    text-align: center;
    line-height: 2.4em;
    font-weight: $mediumThick;
    font-size: 1.2em;
}

.footer .social-icons {
    margin: auto;
    text-align: center;
}

.footer .social-icons a {
    color: $highlighColor;
}
