$icon-font-path: "../_bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import '../_bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'main-navbar';
@import 'main-footer';

html, body {
    height: 100%;
    font-size: 14px;
    color: $mainColorDark;
}

a, a:hover, a:focus {
    color: $mainColorDark;
}

.ekko-lightbox {
    padding: 0px!important;
}

.ribbon-left {
    width: 200px;
    background: #e43;
    position: fixed;
    top: 30px;
    left: -45px;
    text-align: center;
    font-size: 1em;
    line-height: 20px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}
