@import "../shared/_base";

#map {
    @media(min-width: $small) {
        height: 600px;
    }

    @media(max-width: $small) {
        height: 400px;
    }
}

#countries {
    margin-top: 30px;
    margin-bottom: 30px;

    .row {
        padding-bottom: 20px;
    }
}
